.title_space {
	height: 480px;
	width: 50%;
	padding: 24px;
	background-color: gray;
	border-style: dashed;
}

.title_text {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border-style: dashed;
	padding: 12px;
	
}