.banner h1 {
	font-size: 48px;
	color: white;
	position: center;
	top: 12px;
}

body {
    background-image: url('http://media.giphy.com/media/2C8Kf24dnrYNW/giphy.gif');
    background-color: #cccccc;
}