.portrait img{
	height:600px;
	width:60px;
	opacity: 0.4;
  filter: alpha(opacity=40);
	border-style: dashed;
}


/*
.title_space {
	height: 480px;
	padding: 24px;
	background: url('hanston.jpg') no-repeat center center;
	width: 100%;
	border-style: dashed;
}

.title_text {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border-style: dashed;
	padding: 24px;
	
}*/